In [3]:
import pandas as pd

In [21]:
df = pd.read_csv("archive/birds.csv")
df

,class id,filepaths,labels,data set,scientific name
0,0.0,train/ABBOTTS BABBLER/001.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
1,0.0,train/ABBOTTS BABBLER/007.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
2,0.0,train/ABBOTTS BABBLER/008.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
3,0.0,train/ABBOTTS BABBLER/009.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
4,0.0,train/ABBOTTS BABBLER/002.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
...,...,...,...,...,...
89880,524.0,valid/BLACK BREASTED PUFFBIRD/3.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS
89881,524.0,valid/BLACK BREASTED PUFFBIRD/4.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS
89882,524.0,valid/BLACK BREASTED PUFFBIRD/1.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS
89883,524.0,valid/BLACK BREASTED PUFFBIRD/2.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS
89884,524.0,valid/BLACK BREASTED PUFFBIRD/5.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS

In [22]:
df.drop(columns=['class id', 'filepaths', 'data set'], inplace=True)

In [23]:
df

                        labels        scientific name
0              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
1              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
2              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
3              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
4              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
...                        ...                    ...
89880  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89881  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89882  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89883  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89884  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS

[89885 rows x 2 columns]

In [24]:
df = df.rename(columns={'labels' : 'birds_name'})

In [25]:
df

                    birds_name        scientific name
0              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
1              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
2              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
3              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
4              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
...                        ...                    ...
89880  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89881  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89882  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89883  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89884  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS

[89885 rows x 2 columns]

In [26]:
df = df.rename(columns={'scientific name' : 'bird_sci_name', 'birds_name' : 'bird_name'})

In [28]:
new_df = df.drop_duplicates()

In [29]:
new_df

                        bird_name           bird_sci_name
0                 ABBOTTS BABBLER    MALACOCINCLA ABBOTTI
163                 ABBOTTS BOOBY        PAPASULA ABBOTTI
343    ABYSSINIAN GROUND HORNBILL    BUCORVUS ABYSSINICUS
522         AFRICAN CROWNED CRANE     BALEARICA REGULORUM
657        AFRICAN EMERALD CUCKOO    CHRYSOCOCCYX CUPREUS
...                           ...                     ...
83690                      DUNLIN         CALIDRIS ALPINA
83880            SNOWY SHEATHBILL           CHIONIS ALBUS
84067            KNOB BILLED DUCK  SARKIDIORNIS MELANOTOS
84264      GREY HEADED CHACHALACA     ORTALIS CINEREICEPS
84463     BLACK BREASTED PUFFBIRD   NOTHARCHUS PECTORALIS

[525 rows x 2 columns]

In [30]:
len(new_df)

525

In [31]:
new_df.to_csv("new_bird_data.csv", index=False)

In [32]:
new_df1 = pd.read_csv("new_bird_data.csv")

In [33]:
new_df1

                      bird_name           bird_sci_name
0               ABBOTTS BABBLER    MALACOCINCLA ABBOTTI
1                 ABBOTTS BOOBY        PAPASULA ABBOTTI
2    ABYSSINIAN GROUND HORNBILL    BUCORVUS ABYSSINICUS
3         AFRICAN CROWNED CRANE     BALEARICA REGULORUM
4        AFRICAN EMERALD CUCKOO    CHRYSOCOCCYX CUPREUS
..                          ...                     ...
520                      DUNLIN         CALIDRIS ALPINA
521            SNOWY SHEATHBILL           CHIONIS ALBUS
522            KNOB BILLED DUCK  SARKIDIORNIS MELANOTOS
523      GREY HEADED CHACHALACA     ORTALIS CINEREICEPS
524     BLACK BREASTED PUFFBIRD   NOTHARCHUS PECTORALIS

[525 rows x 2 columns]

In [36]:
leng = len(new_df1['bird_name'])
df1 = new_df1
df1

                      bird_name           bird_sci_name
0               ABBOTTS BABBLER    MALACOCINCLA ABBOTTI
1                 ABBOTTS BOOBY        PAPASULA ABBOTTI
2    ABYSSINIAN GROUND HORNBILL    BUCORVUS ABYSSINICUS
3         AFRICAN CROWNED CRANE     BALEARICA REGULORUM
4        AFRICAN EMERALD CUCKOO    CHRYSOCOCCYX CUPREUS
..                          ...                     ...
520                      DUNLIN         CALIDRIS ALPINA
521            SNOWY SHEATHBILL           CHIONIS ALBUS
522            KNOB BILLED DUCK  SARKIDIORNIS MELANOTOS
523      GREY HEADED CHACHALACA     ORTALIS CINEREICEPS
524     BLACK BREASTED PUFFBIRD   NOTHARCHUS PECTORALIS

[525 rows x 2 columns]

In [47]:
df1['bird_order'] = ['order'] * leng
df1

                      bird_name           bird_sci_name bird_order
0               ABBOTTS BABBLER    MALACOCINCLA ABBOTTI      order
1                 ABBOTTS BOOBY        PAPASULA ABBOTTI      order
2    ABYSSINIAN GROUND HORNBILL    BUCORVUS ABYSSINICUS      order
3         AFRICAN CROWNED CRANE     BALEARICA REGULORUM      order
4        AFRICAN EMERALD CUCKOO    CHRYSOCOCCYX CUPREUS      order
..                          ...                     ...        ...
520                      DUNLIN         CALIDRIS ALPINA      order
521            SNOWY SHEATHBILL           CHIONIS ALBUS      order
522            KNOB BILLED DUCK  SARKIDIORNIS MELANOTOS      order
523      GREY HEADED CHACHALACA     ORTALIS CINEREICEPS      order
524     BLACK BREASTED PUFFBIRD   NOTHARCHUS PECTORALIS      order

[525 rows x 3 columns]

In [64]:
df1['bird_family'] = ['family'] * leng
df1['bird_color'] = [['#FF0000', '#FFFFFF']] * leng
df1['bird_habitat'] = [['habitat', 'habitat1']] * leng
df1['bird_char'] = [{'size' : '100 cm', 'wing' : '100 cm', 'weight' : '100 g'}] * leng
df1['bird_desc'] = ['description'] * leng
df1['bird_distr'] = ['distribution'] * leng
df1['bird_eco'] = ['ecology'] * leng
df1['bird_img'] = [['img.png', 'img1.png']] * leng
df1['bird_scale'] = [1] * leng

In [65]:
df1

,bird_name,bird_sci_name,bird_order,bird_family,bird_color,bird_habitat,bird_char,bird_desc,bird_distr,bird_eco,bird_img,bird_scale
0,ABBOTTS BABBLER,MALACOCINCLA ABBOTTI,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
1,ABBOTTS BOOBY,PAPASULA ABBOTTI,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
2,ABYSSINIAN GROUND HORNBILL,BUCORVUS ABYSSINICUS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
3,AFRICAN CROWNED CRANE,BALEARICA REGULORUM,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
4,AFRICAN EMERALD CUCKOO,CHRYSOCOCCYX CUPREUS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
...,...,...,...,...,...,...,...,...,...,...,...,...
520,DUNLIN,CALIDRIS ALPINA,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
521,SNOWY SHEATHBILL,CHIONIS ALBUS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
522,KNOB BILLED DUCK,SARKIDIORNIS MELANOTOS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
523,GREY HEADED CHACHALACA,ORTALIS CINEREICEPS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
524,BLACK BREASTED PUFFBIRD,NOTHARCHUS PECTORALIS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1

In [67]:
df1.to_json("new_bird_data.json",orient='records', lines=True)