In [73]:
import pandas as pd

In [74]:
df = pd.read_csv("archive/birds.csv")
df

,class id,filepaths,labels,data set,scientific name
0,0.0,train/ABBOTTS BABBLER/001.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
1,0.0,train/ABBOTTS BABBLER/007.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
2,0.0,train/ABBOTTS BABBLER/008.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
3,0.0,train/ABBOTTS BABBLER/009.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
4,0.0,train/ABBOTTS BABBLER/002.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
...,...,...,...,...,...
89880,524.0,valid/BLACK BREASTED PUFFBIRD/3.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS
89881,524.0,valid/BLACK BREASTED PUFFBIRD/4.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS
89882,524.0,valid/BLACK BREASTED PUFFBIRD/1.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS
89883,524.0,valid/BLACK BREASTED PUFFBIRD/2.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS
89884,524.0,valid/BLACK BREASTED PUFFBIRD/5.jpg,BLACK BREASTED PUFFBIRD,valid,NOTHARCHUS PECTORALIS

In [75]:
df.drop(columns=['class id', 'filepaths', 'data set'], inplace=True)

In [76]:
df

                        labels        scientific name
0              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
1              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
2              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
3              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
4              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
...                        ...                    ...
89880  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89881  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89882  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89883  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89884  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS

[89885 rows x 2 columns]

In [77]:
df = df.rename(columns={'labels' : 'birds_name'})

In [78]:
df

                    birds_name        scientific name
0              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
1              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
2              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
3              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
4              ABBOTTS BABBLER   MALACOCINCLA ABBOTTI
...                        ...                    ...
89880  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89881  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89882  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89883  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS
89884  BLACK BREASTED PUFFBIRD  NOTHARCHUS PECTORALIS

[89885 rows x 2 columns]

In [79]:
df = df.rename(columns={'scientific name' : 'bird_sci_name', 'birds_name' : 'bird_name'})

In [80]:
new_df = df.drop_duplicates()

In [82]:
len(new_df)

525

In [87]:
x = new_df['bird_name']
x = x.tolist()
print(x)

['ABBOTTS BABBLER', 'ABBOTTS BOOBY', 'ABYSSINIAN GROUND HORNBILL', 'AFRICAN CROWNED CRANE', 'AFRICAN EMERALD CUCKOO', 'AFRICAN FIREFINCH', 'AFRICAN OYSTER CATCHER', 'AFRICAN PIED HORNBILL', 'AFRICAN PYGMY GOOSE', 'ALBATROSS', 'ALBERTS TOWHEE', 'ALEXANDRINE PARAKEET', 'ALPINE CHOUGH', 'ALTAMIRA YELLOWTHROAT', 'AMERICAN AVOCET', 'AMERICAN BITTERN', 'AMERICAN COOT', 'AMERICAN FLAMINGO', 'AMERICAN GOLDFINCH', 'AMERICAN KESTREL', 'AMERICAN PIPIT', 'AMERICAN REDSTART', 'AMERICAN ROBIN', 'AMERICAN WIGEON', 'AMETHYST WOODSTAR', 'ANDEAN GOOSE', 'ANDEAN LAPWING', 'ANDEAN SISKIN', 'ANHINGA', 'ANIANIAU', 'ANNAS HUMMINGBIRD', 'ANTBIRD', 'ANTILLEAN EUPHONIA', 'APAPANE', 'APOSTLEBIRD', 'ARARIPE MANAKIN', 'ASHY STORM PETREL', 'ASHY THRUSHBIRD', 'ASIAN CRESTED IBIS', 'ASIAN DOLLARD BIRD', 'ASIAN GREEN BEE EATER', 'ASIAN OPENBILL STORK', 'AUCKLAND SHAQ', 'AUSTRAL CANASTERO', 'AUSTRALASIAN FIGBIRD', 'AVADAVAT', 'AZARAS SPINETAIL', 'AZURE BREASTED PITTA', 'AZURE JAY', 'AZURE TANAGER', 'AZURE TIT', 'BAIKAL TEAL', 'BALD EAGLE', 'BALD IBIS', 'BALI STARLING', 'BALTIMORE ORIOLE', 'BANANAQUIT', 'BAND TAILED GUAN', 'BANDED BROADBILL', 'BANDED PITA', 'BANDED STILT', 'BAR-TAILED GODWIT', 'BARN OWL', 'BARN SWALLOW', 'BARRED PUFFBIRD', 'BARROWS GOLDENEYE', 'BAY-BREASTED WARBLER', 'BEARDED BARBET', 'BEARDED BELLBIRD', 'BEARDED REEDLING', 'BELTED KINGFISHER', 'BIRD OF PARADISE', 'BLACK AND YELLOW BROADBILL', 'BLACK BAZA', 'BLACK COCKATO', 'BLACK FACED SPOONBILL', 'BLACK FRANCOLIN', 'BLACK HEADED CAIQUE', 'BLACK NECKED STILT', 'BLACK SKIMMER', 'BLACK SWAN', 'BLACK TAIL CRAKE', 'BLACK THROATED BUSHTIT', 'BLACK THROATED HUET', 'BLACK THROATED WARBLER', 'BLACK VENTED SHEARWATER', 'BLACK VULTURE', 'BLACK-CAPPED CHICKADEE', 'BLACK-NECKED GREBE', 'BLACK-THROATED SPARROW', 'BLACKBURNIAM WARBLER', 'BLONDE CRESTED WOODPECKER', 'BLOOD PHEASANT', 'BLUE COAU', 'BLUE DACNIS', 'BLUE GRAY GNATCATCHER', 'BLUE GROSBEAK', 'BLUE GROUSE', 'BLUE HERON', 'BLUE MALKOHA', 'BLUE THROATED TOUCANET', 'BOBOLINK', 'BORNEAN BRISTLEHEAD', 'BORNEAN LEAFBIRD', 'BORNEAN PHEASANT', 'BRANDT CORMARANT', 'BREWERS BLACKBIRD', 'BROWN CREPPER', 'BROWN HEADED COWBIRD', 'BROWN NOODY', 'BROWN THRASHER', 'BUFFLEHEAD', 'BULWERS PHEASANT', 'BURCHELLS COURSER', 'BUSH TURKEY', 'CAATINGA CACHOLOTE', 'CABOTS TRAGOPAN', 'CACTUS WREN', 'CALIFORNIA CONDOR', 'CALIFORNIA GULL', 'CALIFORNIA QUAIL', 'CAMPO FLICKER', 'CANARY', 'CANVASBACK', 'CAPE GLOSSY STARLING', 'CAPE LONGCLAW', 'CAPE MAY WARBLER', 'CAPE ROCK THRUSH', 'CAPPED HERON', 'CAPUCHINBIRD', 'CARMINE BEE-EATER', 'CASPIAN TERN', 'CASSOWARY', 'CEDAR WAXWING', 'CERULEAN WARBLER', 'CHARA DE COLLAR', 'CHATTERING LORY', 'CHESTNET BELLIED EUPHONIA', 'CHESTNUT WINGED CUCKOO', 'CHINESE BAMBOO PARTRIDGE', 'CHINESE POND HERON', 'CHIPPING SPARROW', 'CHUCAO TAPACULO', 'CHUKAR PARTRIDGE', 'CINNAMON ATTILA', 'CINNAMON FLYCATCHER', 'CINNAMON TEAL', 'CLARKS GREBE', 'CLARKS NUTCRACKER', 'COCK OF THE  ROCK', 'COCKATOO', 'COLLARED ARACARI', 'COLLARED CRESCENTCHEST', 'COMMON FIRECREST', 'COMMON GRACKLE', 'COMMON HOUSE MARTIN', 'COMMON IORA', 'COMMON LOON', 'COMMON POORWILL', 'COMMON STARLING', 'COPPERSMITH BARBET', 'COPPERY TAILED COUCAL', 'CRAB PLOVER', 'CRANE HAWK', 'CREAM COLORED WOODPECKER', 'CRESTED AUKLET', 'CRESTED CARACARA', 'CRESTED COUA', 'CRESTED FIREBACK', 'CRESTED KINGFISHER', 'CRESTED NUTHATCH', 'CRESTED OROPENDOLA', 'CRESTED SERPENT EAGLE', 'CRESTED SHRIKETIT', 'CRESTED WOOD PARTRIDGE', 'CRIMSON CHAT', 'CRIMSON SUNBIRD', 'CROW', 'CUBAN TODY', 'CUBAN TROGON', 'CURL CRESTED ARACURI', 'D-ARNAUDS BARBET', 'DALMATIAN PELICAN', 'DARJEELING WOODPECKER', 'DARK EYED JUNCO', 'DAURIAN REDSTART', 'DEMOISELLE CRANE', 'DOUBLE BARRED FINCH', 'DOUBLE BRESTED CORMARANT', 'DOUBLE EYED FIG PARROT', 'DOWNY WOODPECKER', 'DUSKY LORY', 'DUSKY ROBIN', 'EARED PITA', 'EASTERN BLUEBIRD', 'EASTERN BLUEBONNET', 'EASTERN GOLDEN WEAVER', 'EASTERN MEADOWLARK', 'EASTERN ROSELLA', 'EASTERN TOWEE', 'EASTERN WIP POOR WILL', 'EASTERN YELLOW ROBIN', 'ECUADORIAN HILLSTAR', 'EGYPTIAN GOOSE', 'ELEGANT TROGON', 'ELLIOTS  PHEASANT', 'EMERALD TANAGER', 'EMPEROR PENGUIN', 'EMU', 'ENGGANO MYNA', 'EURASIAN BULLFINCH', 'EURASIAN GOLDEN ORIOLE', 'EURASIAN MAGPIE', 'EUROPEAN GOLDFINCH', 'EUROPEAN TURTLE DOVE', 'EVENING GROSBEAK', 'FAIRY BLUEBIRD', 'FAIRY PENGUIN', 'FAIRY TERN', 'FAN TAILED WIDOW', 'FASCIATED WREN', 'FIERY MINIVET', 'FIORDLAND PENGUIN', 'FIRE TAILLED MYZORNIS', 'FLAME BOWERBIRD', 'FLAME TANAGER', 'FOREST WAGTAIL', 'FRIGATE', 'FRILL BACK PIGEON', 'GAMBELS QUAIL', 'GANG GANG COCKATOO', 'GILA WOODPECKER', 'GILDED FLICKER', 'GLOSSY IBIS', 'GO AWAY BIRD', 'GOLD WING WARBLER', 'GOLDEN BOWER BIRD', 'GOLDEN CHEEKED WARBLER', 'GOLDEN CHLOROPHONIA', 'GOLDEN EAGLE', 'GOLDEN PARAKEET', 'GOLDEN PHEASANT', 'GOLDEN PIPIT', 'GOULDIAN FINCH', 'GRANDALA', 'GRAY CATBIRD', 'GRAY KINGBIRD', 'GRAY PARTRIDGE', 'GREAT ARGUS', 'GREAT GRAY OWL', 'GREAT JACAMAR', 'GREAT KISKADEE', 'GREAT POTOO', 'GREAT TINAMOU', 'GREAT XENOPS', 'GREATER PEWEE', 'GREATER PRAIRIE CHICKEN', 'GREATOR SAGE GROUSE', 'GREEN BROADBILL', 'GREEN JAY', 'GREEN MAGPIE', 'GREEN WINGED DOVE', 'GREY CUCKOOSHRIKE', 'GREY HEADED FISH EAGLE', 'GREY PLOVER', 'GROVED BILLED ANI', 'GUINEA TURACO', 'GUINEAFOWL', 'GURNEYS PITTA', 'GYRFALCON', 'HAMERKOP', 'HARLEQUIN DUCK', 'HARLEQUIN QUAIL', 'HARPY EAGLE', 'HAWAIIAN GOOSE', 'HAWFINCH', 'HELMET VANGA', 'HEPATIC TANAGER', 'HIMALAYAN BLUETAIL', 'HIMALAYAN MONAL', 'HOATZIN', 'HOODED MERGANSER', 'HOOPOES', 'HORNED GUAN', 'HORNED LARK', 'HORNED SUNGEM', 'HOUSE FINCH', 'HOUSE SPARROW', 'HYACINTH MACAW', 'IBERIAN MAGPIE', 'IBISBILL', 'IMPERIAL SHAQ', 'INCA TERN', 'INDIAN BUSTARD', 'INDIAN PITTA', 'INDIAN ROLLER', 'INDIAN VULTURE', 'INDIGO BUNTING', 'INDIGO FLYCATCHER', 'INLAND DOTTEREL', 'IVORY BILLED ARACARI', 'IVORY GULL', 'IWI', 'JABIRU', 'JACK SNIPE', 'JACOBIN PIGEON', 'JANDAYA PARAKEET', 'JAPANESE ROBIN', 'JAVA SPARROW', 'JOCOTOCO ANTPITTA', 'KAGU', 'KAKAPO', 'KILLDEAR', 'KING EIDER', 'KING VULTURE', 'KIWI', 'KOOKABURRA', 'LARK BUNTING', 'LAUGHING GULL', 'LAZULI BUNTING', 'LESSER ADJUTANT', 'LILAC ROLLER', 'LIMPKIN', 'LITTLE AUK', 'LOGGERHEAD SHRIKE', 'LONG-EARED OWL', 'LOONEY BIRDS', 'LUCIFER HUMMINGBIRD', 'MAGPIE GOOSE', 'MALABAR HORNBILL', 'MALACHITE KINGFISHER', 'MALAGASY WHITE EYE', 'MALEO', 'MALLARD DUCK', 'MANDRIN DUCK', 'MANGROVE CUCKOO', 'MARABOU STORK', 'MASKED BOBWHITE', 'MASKED BOOBY', 'MASKED LAPWING', 'MCKAYS BUNTING', 'MERLIN', 'MIKADO  PHEASANT', 'MILITARY MACAW', 'MOURNING DOVE', 'MYNA', 'NICOBAR PIGEON', 'NOISY FRIARBIRD', 'NORTHERN BEARDLESS TYRANNULET', 'NORTHERN CARDINAL', 'NORTHERN FLICKER', 'NORTHERN FULMAR', 'NORTHERN GANNET', 'NORTHERN GOSHAWK', 'NORTHERN JACANA', 'NORTHERN MOCKINGBIRD', 'NORTHERN PARULA', 'NORTHERN RED BISHOP', 'NORTHERN SHOVELER', 'OCELLATED TURKEY', 'OKINAWA RAIL', 'ORANGE BREASTED TROGON', 'ORANGE BRESTED BUNTING', 'ORIENTAL BAY OWL', 'ORNATE HAWK EAGLE', 'OSPREY', 'OSTRICH', 'OVENBIRD', 'OYSTER CATCHER', 'PAINTED BUNTING', 'PALILA', 'PALM NUT VULTURE', 'PARADISE TANAGER', 'PARAKETT  AKULET', 'PARUS MAJOR', 'PATAGONIAN SIERRA FINCH', 'PEACOCK', 'PEREGRINE FALCON', 'PHAINOPEPLA', 'PHILIPPINE EAGLE', 'PINK ROBIN', 'PLUSH CRESTED JAY', 'POMARINE JAEGER', 'PUFFIN', 'PUNA TEAL', 'PURPLE FINCH', 'PURPLE GALLINULE', 'PURPLE MARTIN', 'PURPLE SWAMPHEN', 'PYGMY KINGFISHER', 'PYRRHULOXIA', 'QUETZAL', 'RAINBOW LORIKEET', 'RAZORBILL', 'RED BEARDED BEE EATER', 'RED BELLIED PITTA', 'RED BILLED TROPICBIRD', 'RED BROWED FINCH', 'RED FACED CORMORANT', 'RED FACED WARBLER', 'RED FODY', 'RED HEADED DUCK', 'RED HEADED WOODPECKER', 'RED KNOT', 'RED LEGGED HONEYCREEPER', 'RED NAPED TROGON', 'RED SHOULDERED HAWK', 'RED TAILED HAWK', 'RED TAILED THRUSH', 'RED WINGED BLACKBIRD', 'RED WISKERED BULBUL', 'REGENT BOWERBIRD', 'RING-NECKED PHEASANT', 'ROADRUNNER', 'ROCK DOVE', 'ROSE BREASTED COCKATOO', 'ROSE BREASTED GROSBEAK', 'ROSEATE SPOONBILL', 'ROSY FACED LOVEBIRD', 'ROUGH LEG BUZZARD', 'ROYAL FLYCATCHER', 'RUBY CROWNED KINGLET', 'RUBY THROATED HUMMINGBIRD', 'RUDDY SHELDUCK', 'RUDY KINGFISHER', 'RUFOUS KINGFISHER', 'RUFOUS TREPE', 'RUFUOS MOTMOT', 'SAMATRAN THRUSH', 'SAND MARTIN', 'SANDHILL CRANE', 'SATYR TRAGOPAN', 'SAYS PHOEBE', 'SCARLET CROWNED FRUIT DOVE', 'SCARLET FACED LIOCICHLA', 'SCARLET IBIS', 'SCARLET MACAW', 'SCARLET TANAGER', 'SHOEBILL', 'SHORT BILLED DOWITCHER', 'SMITHS LONGSPUR', 'SNOW GOOSE', 'SNOW PARTRIDGE', 'SNOWY EGRET', 'SNOWY OWL', 'SNOWY PLOVER', 'SORA', 'SPANGLED COTINGA', 'SPLENDID WREN', 'SPOON BILED SANDPIPER', 'SPOTTED CATBIRD', 'SPOTTED WHISTLING DUCK', 'SQUACCO HERON', 'SRI LANKA BLUE MAGPIE', 'STEAMER DUCK', 'STORK BILLED KINGFISHER', 'STRIATED CARACARA', 'STRIPED OWL', 'STRIPPED MANAKIN', 'STRIPPED SWALLOW', 'SUNBITTERN', 'SUPERB STARLING', 'SURF SCOTER', 'SWINHOES PHEASANT', 'TAILORBIRD', 'TAIWAN MAGPIE', 'TAKAHE', 'TASMANIAN HEN', 'TAWNY FROGMOUTH', 'TEAL DUCK', 'TIT MOUSE', 'TOUCHAN', 'TOWNSENDS WARBLER', 'TREE SWALLOW', 'TRICOLORED BLACKBIRD', 'TROPICAL KINGBIRD', 'TRUMPTER SWAN', 'TURKEY VULTURE', 'TURQUOISE MOTMOT', 'UMBRELLA BIRD', 'VARIED THRUSH', 'VEERY', 'VENEZUELIAN TROUPIAL', 'VERDIN', 'VERMILION FLYCATHER', 'VICTORIA CROWNED PIGEON', 'VIOLET BACKED STARLING', 'VIOLET CUCKOO', 'VIOLET GREEN SWALLOW', 'VIOLET TURACO', 'VISAYAN HORNBILL', 'VULTURINE GUINEAFOWL', 'WALL CREAPER', 'WATTLED CURASSOW', 'WATTLED LAPWING', 'WHIMBREL', 'WHITE BREASTED WATERHEN', 'WHITE BROWED CRAKE', 'WHITE CHEEKED TURACO', 'WHITE CRESTED HORNBILL', 'WHITE EARED HUMMINGBIRD', 'WHITE NECKED RAVEN', 'WHITE TAILED TROPIC', 'WHITE THROATED BEE EATER', 'WILD TURKEY', 'WILLOW PTARMIGAN', 'WILSONS BIRD OF PARADISE', 'WOOD DUCK', 'WOOD THRUSH', 'WOODLAND KINGFISHER', 'WRENTIT', 'YELLOW BELLIED FLOWERPECKER', 'YELLOW CACIQUE', 'YELLOW HEADED BLACKBIRD', 'ZEBRA DOVE', 'YELLOW BREASTED CHAT', 'RED CROSSBILL', 'AMERICAN DIPPER', 'BLUE THROATED PIPING GUAN', 'OILBIRD', 'DUNLIN', 'SNOWY SHEATHBILL', 'KNOB BILLED DUCK', 'GREY HEADED CHACHALACA', 'BLACK BREASTED PUFFBIRD']

In [31]:
new_df.to_csv("new_bird_data.csv", index=False)

In [32]:
new_df1 = pd.read_csv("new_bird_data.csv")

In [33]:
new_df1

                      bird_name           bird_sci_name
0               ABBOTTS BABBLER    MALACOCINCLA ABBOTTI
1                 ABBOTTS BOOBY        PAPASULA ABBOTTI
2    ABYSSINIAN GROUND HORNBILL    BUCORVUS ABYSSINICUS
3         AFRICAN CROWNED CRANE     BALEARICA REGULORUM
4        AFRICAN EMERALD CUCKOO    CHRYSOCOCCYX CUPREUS
..                          ...                     ...
520                      DUNLIN         CALIDRIS ALPINA
521            SNOWY SHEATHBILL           CHIONIS ALBUS
522            KNOB BILLED DUCK  SARKIDIORNIS MELANOTOS
523      GREY HEADED CHACHALACA     ORTALIS CINEREICEPS
524     BLACK BREASTED PUFFBIRD   NOTHARCHUS PECTORALIS

[525 rows x 2 columns]

In [36]:
leng = len(new_df1['bird_name'])
df1 = new_df1
df1

                      bird_name           bird_sci_name
0               ABBOTTS BABBLER    MALACOCINCLA ABBOTTI
1                 ABBOTTS BOOBY        PAPASULA ABBOTTI
2    ABYSSINIAN GROUND HORNBILL    BUCORVUS ABYSSINICUS
3         AFRICAN CROWNED CRANE     BALEARICA REGULORUM
4        AFRICAN EMERALD CUCKOO    CHRYSOCOCCYX CUPREUS
..                          ...                     ...
520                      DUNLIN         CALIDRIS ALPINA
521            SNOWY SHEATHBILL           CHIONIS ALBUS
522            KNOB BILLED DUCK  SARKIDIORNIS MELANOTOS
523      GREY HEADED CHACHALACA     ORTALIS CINEREICEPS
524     BLACK BREASTED PUFFBIRD   NOTHARCHUS PECTORALIS

[525 rows x 2 columns]

In [47]:
df1['bird_order'] = ['order'] * leng
df1

                      bird_name           bird_sci_name bird_order
0               ABBOTTS BABBLER    MALACOCINCLA ABBOTTI      order
1                 ABBOTTS BOOBY        PAPASULA ABBOTTI      order
2    ABYSSINIAN GROUND HORNBILL    BUCORVUS ABYSSINICUS      order
3         AFRICAN CROWNED CRANE     BALEARICA REGULORUM      order
4        AFRICAN EMERALD CUCKOO    CHRYSOCOCCYX CUPREUS      order
..                          ...                     ...        ...
520                      DUNLIN         CALIDRIS ALPINA      order
521            SNOWY SHEATHBILL           CHIONIS ALBUS      order
522            KNOB BILLED DUCK  SARKIDIORNIS MELANOTOS      order
523      GREY HEADED CHACHALACA     ORTALIS CINEREICEPS      order
524     BLACK BREASTED PUFFBIRD   NOTHARCHUS PECTORALIS      order

[525 rows x 3 columns]

In [64]:
df1['bird_family'] = ['family'] * leng
df1['bird_color'] = [['#FF0000', '#FFFFFF']] * leng
df1['bird_habitat'] = [['habitat', 'habitat1']] * leng
df1['bird_char'] = [{'size' : '100 cm', 'wing' : '100 cm', 'weight' : '100 g'}] * leng
df1['bird_desc'] = ['description'] * leng
df1['bird_distr'] = ['distribution'] * leng
df1['bird_eco'] = ['ecology'] * leng
df1['bird_img'] = [['img.png', 'img1.png']] * leng
df1['bird_scale'] = [1] * leng

In [65]:
df1

,bird_name,bird_sci_name,bird_order,bird_family,bird_color,bird_habitat,bird_char,bird_desc,bird_distr,bird_eco,bird_img,bird_scale
0,ABBOTTS BABBLER,MALACOCINCLA ABBOTTI,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
1,ABBOTTS BOOBY,PAPASULA ABBOTTI,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
2,ABYSSINIAN GROUND HORNBILL,BUCORVUS ABYSSINICUS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
3,AFRICAN CROWNED CRANE,BALEARICA REGULORUM,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
4,AFRICAN EMERALD CUCKOO,CHRYSOCOCCYX CUPREUS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
...,...,...,...,...,...,...,...,...,...,...,...,...
520,DUNLIN,CALIDRIS ALPINA,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
521,SNOWY SHEATHBILL,CHIONIS ALBUS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
522,KNOB BILLED DUCK,SARKIDIORNIS MELANOTOS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
523,GREY HEADED CHACHALACA,ORTALIS CINEREICEPS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1
524,BLACK BREASTED PUFFBIRD,NOTHARCHUS PECTORALIS,order,family,"[#FF0000, #FFFFFF]","[habitat, habitat1]","{'size': '100 cm', 'wing': '100 cm', 'weight':...",description,distribution,ecology,"[img.png, img1.png]",1

In [67]:
df1.to_json("new_bird_data.json",orient='records', lines=True)